name: test



on:
  workflow_call:
    inputs:
      docker_files_name:
        required: true
        type: string
      should_push:
        required: false
        type: string
        default: 'true'


jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download secrets.env
        uses: actions/download-artifact@v4
        with:
          name: secrets-env
          path: build/

      - name: Build image
        run: |
          echo "Building Docker image with ${{ inputs.docker_files_name }}..."
          bash ./build/docker-build.sh "${{ inputs.docker_files_name }}" ./build

      - name: Run tests
        run: |
            # テスト処理をここに追加
            echo "Testing image: ${{ secrets.IMAGE_NAME }}"
            docker run --rm ${{ secrets.IMAGE_NAME }} p4d -h || true

      - name: Save Docker image as artifact
        if: inputs.should_push == 'true'
        run: |
            docker save ${{ secrets.IMAGE_NAME }} > ${{ secrets.IMAGE_NAME }}.tar
            
      - name: Upload Docker image artifact
        if: inputs.should_push == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: docker-image-${{ secrets.IMAGE_NAME }}
          path: ${{ secrets.IMAGE_NAME }}.tar
          retention-days: 1